<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Error</title>
    <style>
        .error-message {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-weight: lighter;
            font-size: 20px; /* Smaller text */
            color: rgb(85, 83, 83); /* Red color for error */
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="error-message">
        Incorrect username or password. Please try again.
    </div>
</body>
</html>